{% load  staticfiles %}
<script id="id_search_results_hb_template" type="text/x-handlebars-template">
{% verbatim %}{{#if results}}{% endverbatim %}
{% verbatim %}{{#each results}}{% endverbatim %}
<div class="row book_entry search_entry" data-item-type="{% verbatim %}{{product_type}}{% endverbatim %}" data-item-code="{% verbatim %}{{code}}{% endverbatim %}" data-item-id="{% verbatim %}{{id}}{% endverbatim %}" style="border: 1px solid #f7f7f7; margin-left: 1px;">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="row" style="width: 101.5%; background-color: white;">
            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">

                <img style="margin: 20px; width: 130px; height: 186px; " src="https://s3-ap-southeast-1.amazonaws.com/rokomari110/productNew/130X186/308dac14c_61910.jpg" class="img-responsive book-img-grid">
                <img src={%  static "images/special-offer.png" %} style="width: 100px; height: 60px; position: relative; left: 10px; bottom: 60px;"/>
                <div data-rating="4.5" class="product-rating text-center"></div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9 text-left pad-10 margin-left--9" style="padding: 14px; ">
                {% verbatim %}{{#if show_2}}{% endverbatim %}
                 <div class="cart_title"> <a class="cart_title" href="#">{% verbatim %}{{title_2}}{% endverbatim %}</a>
                 {% verbatim %}{{else}}{% endverbatim %}
                 <div class="cart_title"> <a class="cart_title" href="#">{% verbatim %}{{title}}{% endverbatim %}</a>
                 {% verbatim %}{{/if}}{% endverbatim %}
                </div>
                {% verbatim %}{{#if edition}}{% endverbatim %}
                <div class="cart_content"> Edition: {% verbatim %}{{edition}}{% endverbatim %} </div>
                {% verbatim %}{{/if}}{% endverbatim %}
                <div class="cart_content"> Authors: 
				{% verbatim %}{{#each authors}}{% endverbatim %}
				<a href="{% verbatim %}{{link}}{% endverbatim %}">{% verbatim %}{{name}}{% endverbatim %}</a> 
				{% verbatim %}{{/each}}{% endverbatim %}</div>
                <div class="cart_content"> Publisher: 
				{% verbatim %}{{#with publisher}}{% endverbatim %}
				<a href="{% verbatim %}{{link}}{% endverbatim %}">{% verbatim %}{{name}}{% endverbatim %}</a>
				{% verbatim %}{{/with}}{% endverbatim %}
				</div>
				{% verbatim %}{{#if show_2}}{% endverbatim %}
                <p class="small" style="letter-spacing: 0.02em;">
                    {% verbatim %}{{description_2}}{% endverbatim %}
                </p>
				{% verbatim %}{{else}}{% endverbatim %}
				<p class="small" style="letter-spacing: 0.02em;">
                    {% verbatim %}{{description}}{% endverbatim %}
                </p>
				{% verbatim %}{{/if}}{% endverbatim %}
                <hr class="book-box-hr" style="margin: 6px 0px 6px 0px"/>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                        <div class="small">Market Price: <strike> {% verbatim %}{{market_price}}{% endverbatim %} </strike> {% verbatim %}{{price_currency}}{% endverbatim %}
                        </div>
                        <div class="small">Our Price: {% verbatim %}{{base_price}}{% endverbatim %} {% verbatim %}{{price_currency}}{% endverbatim %}</div>
{#                        <div><small>Rent Available from {% verbatim %}{{price_currency}}{% endverbatim %} {% verbatim %}{{rent_available_from}}{% endverbatim %}</small></div>#}
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
						{% verbatim %}{{#if original_available}}{% endverbatim %}
                        <div><span class="glyphicon glyphicon-ok" style="color: green;"></span> <small>Original Copy Available</small></div>
						{% verbatim %}{{/if}}{% endverbatim %}
						{% verbatim %}{{#if used_copy_available}}{% endverbatim %}
                        <div><span class="glyphicon glyphicon-ok" style="color: green;"></span> <small>Used copy available with less price</small></div>
						{% verbatim %}{{/if}}{% endverbatim %}
						{% verbatim %}{{#if color_available}}{% endverbatim %}
                        <div><span class="glyphicon glyphicon-ok" style="color: green;"></span> <small>Color Print Available</small></div>
						{% verbatim %}{{/if}}{% endverbatim %}
						{% verbatim %}{{#if economy_available}}{% endverbatim %}
                        <div><span class="glyphicon glyphicon-ok" style="color: green;"></span> <small>Economy Print Available</small></div>
						{% verbatim %}{{/if}}{% endverbatim %}
                        {% verbatim %}{{#if is_sale_available}}{% endverbatim %}
                        <div><span class="glyphicon glyphicon-ok" style="color: green;"></span> <small>Stock Available for Buy</small></div>
                        {% verbatim %}{{/if}}{% endverbatim %}
                        {% verbatim %}{{#if is_rent_available}}{% endverbatim %}
                        <div><span class="glyphicon glyphicon-ok" style="color: green;"></span> <small>Stock Available for Rent</small></div>
                        {% verbatim %}{{/if}}{% endverbatim %}
                    </div>
                </div>

                <hr style="margin: 6px 0px 6px 0px"/>
                <div>
                    <div class="panel-group" id="accordion_{% verbatim %}{{id}}{% endverbatim %}">
					  {% verbatim %}{{#if is_sale_available}}{% endverbatim %}
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion_{% verbatim %}{{id}}{% endverbatim %}" href="#collapse1_{% verbatim %}{{id}}{% endverbatim %}">
                            I want to Buy This</a>
                          </h4>
                        </div>
                        <div id="collapse1_{% verbatim %}{{id}}{% endverbatim %}" class="panel-collapse collapse">
                          <div class="panel-body">

                              {% verbatim %}{{#buy_options}}{% endverbatim %}
                              <ul class="nav nav-tabs search-tabs">
                                  <li class="active"><a data-toggle="tab" href="#slider_tab1_{% verbatim %}{{../id}}{% endverbatim %}">New Copy</a></li>
                                  <li><a data-toggle="tab" href="#slider_tab2_{% verbatim %}{{../id}}{% endverbatim %}">Used Copy</a></li>
                              </ul>
                              <div class="tab-content">
                                  {% verbatim %}{{#if new_available}}{% endverbatim %}
                                  <div id="slider_tab1_{% verbatim %}{{../id}}{% endverbatim %}" class="tab-pane fade active in">
                                    <div style="padding: 20px 10px 10px 0px;">
                                          <select class="form-control sr-buy-option new" style="max-width: 270px;">
                                                <option value="-1">Select Printing Type</option>
                                                {% verbatim %}{{#each New}}{% endverbatim %}
                                                <option value="{% verbatim %}{{short_name}}{% endverbatim %}">{% verbatim %}{{full_name}}{% endverbatim %}</option>
                                                {% verbatim %}{{/each}}{% endverbatim %}
                                            </select>
                                      </div>
                                      <hr/>
                                      <div class="row">
                                          <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                                              <p class="hidden" style="color: green;">Calculated Price = <span class="sale-price-currency-span"></span>  <span class="sale-price-span"></span></p>
                                              <input type="hidden" name="buy-calculated-price-{% verbatim %}{{../id}}{% endverbatim %}" value="" class="buy-calculated-price"/>
                                              <input type="hidden" name="buy-calculated-price-currency-{% verbatim %}{{../id}}{% endverbatim %}" value="" class="buy-calculated-price-currency"/>
                                          </div>
                                          <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                                              <input type="hidden" name="buy-product-is-new" value="" class="buy-product-is-new"/>
                                              <input type="hidden" name="buy-product-print-type" value="" class="buy-product-print-type"/>
                                              <select class="buy-qty" style="position: absolute;bottom: 0px;right: 105px;height: 30px;">
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                  <option value="5">5</option>
                                                  <option value="6">6</option>
                                                  <option value="7">7</option>
                                                  <option value="8">8</option>
                                                  <option value="9">9</option>
                                                  <option value="10">10</option>
                                              </select>
                                              <button disabled style="font-weight: bold;" data-action-url="{% url "shopping_add_to_cart_view" %}" data-product-id="{% verbatim %}{{id}}{% endverbatim %}" data-product-type="{% verbatim %}{{product_type}}{% endverbatim %}" class="btn btn-sm btn-danger pull-right add-to-buy-cart">Add To Cart</button>
                                          </div>
                                      </div>
                                  </div>
                                  {% verbatim %}{{else}}{% endverbatim %}
                                  <div id="slider_tab1_{% verbatim %}{{../id}}{% endverbatim %}" class="tab-pane fade active in">
                                    <div style="padding: 20px 10px 10px 0px;">
                                        <p>No new copy available to buy</p>
                                      </div>
                                  </div>
                                  {% verbatim %}{{/if}}{% endverbatim %}
                                  {% verbatim %}{{#if used_available}}{% endverbatim %}
                                  <div id="slider_tab2_{% verbatim %}{{../id}}{% endverbatim %}" class="tab-pane fade">
                                    <div style="padding: 20px 10px 10px 0px;">
                                        <select class="form-control sr-buy-option used" style="max-width: 270px;">
                                            <option value="-1">Select Printing Type</option>
                                            {% verbatim %}{{#each Used}}{% endverbatim %}
                                            <option value="{% verbatim %}{{short_name}}{% endverbatim %}">{% verbatim %}{{full_name}}{% endverbatim %}</option>
                                            {% verbatim %}{{/each}}{% endverbatim %}
                                        </select>
                                    </div>
                                    <hr/>
                                      <div class="row">
                                          <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                                              <p class="hidden" style="color: green;">Calculated Price = <span class="sale-price-currency-span"></span>  <span class="sale-price-span"></span></p>
                                              <input type="hidden" name="buy-calculated-price-{% verbatim %}{{../id}}{% endverbatim %}" value="" class="buy-calculated-price"/>
                                              <input type="hidden" name="buy-calculated-price-currency-{% verbatim %}{{../id}}{% endverbatim %}" value="" class="buy-calculated-price-currency"/>
                                          </div>
                                          <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                                              <input type="hidden" name="buy-product-is-new" value="" class="buy-product-is-new"/>
                                              <input type="hidden" name="buy-product-print-type" value="" class="buy-product-print-type"/>
                                              <select class="buy-qty" style="position: absolute;bottom: 0px;right: 105px;height: 30px;">
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                  <option value="5">5</option>
                                                  <option value="6">6</option>
                                                  <option value="7">7</option>
                                                  <option value="8">8</option>
                                                  <option value="9">9</option>
                                                  <option value="10">10</option>
                                              </select>
                                              <button disabled style="font-weight: bold;" data-action-url="{% url "shopping_add_to_cart_view" %}" data-product-id="{% verbatim %}{{id}}{% endverbatim %}" data-product-type="{% verbatim %}{{product_type}}{% endverbatim %}" class="btn btn-sm btn-danger pull-right add-to-buy-cart">Add To Cart</button>
                                          </div>
                                      </div>
                                  </div>
                                  {% verbatim %}{{else}}{% endverbatim %}
                                  <div id="slider_tab2_{% verbatim %}{{../id}}{% endverbatim %}" class="tab-pane fade">
                                    <div style="padding: 20px 10px 10px 0px;">
                                        <p>No used copy available to buy</p>
                                    </div>
                                  </div>
                                  {% verbatim %}{{/if}}{% endverbatim %}
                              </div>

                              {% verbatim %}{{/buy_options}}{% endverbatim %}
                          </div>
                        </div>
                      </div>
					  {% verbatim %}{{else}}{% endverbatim %}
					  <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#" style="disabled: disabled;" onclick="return false;">
                                <strike>Stock unavailable for buy</strike></a>
                          </h4>
                        </div>
					  </div>
					  {% verbatim %}{{/if}}{% endverbatim %}
					  {% verbatim %}{{#if is_rent_available}}{% endverbatim %}
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion_{% verbatim %}{{id}}{% endverbatim %}" href="#collapse2_{% verbatim %}{{id}}{% endverbatim %}">
                            I want to Rent this</a>
                          </h4>
                        </div>
                        <div id="collapse2_{% verbatim %}{{id}}{% endverbatim %}" class="panel-collapse collapse">
                          <div class="panel-body">
                                  {% verbatim %}{{#rent_options}}{% endverbatim %}

                                  <ul class="nav nav-tabs search-tabs">
                                      <li class="active"><a data-toggle="tab" href="#slider_tab3_{% verbatim %}{{../id}}{% endverbatim %}">New Copy</a></li>
                                      <li><a data-toggle="tab" href="#slider_tab4_{% verbatim %}{{../id}}{% endverbatim %}">Used Copy</a></li>
                                  </ul>
                                  <div class="tab-content">
                                      {% verbatim %}{{#if new_available}}{% endverbatim %}
                                      <div id="slider_tab3_{% verbatim %}{{../id}}{% endverbatim %}" class="tab-pane fade active in">
                                        <div style="padding: 20px 10px 10px 0px;">
                                            <select class="form-control sr-rent-option rent-option-printing-type new rent" style="max-width: 270px;">
                                                <option value="-1">Select Printing Type</option>
                                                {% verbatim %}{{#each New}}{% endverbatim %}

                                                    <option value="{% verbatim %}{{short_name}}{% endverbatim %}">{% verbatim %}{{full_name}}{% endverbatim %}</option>

                                                {% verbatim %}{{/each}}{% endverbatim %}
                                            </select>
                                            <br/>
                                            {% verbatim %}{{#rent_plans}}{% endverbatim %}
                                            <select class="form-control sr-rent-plan-option rent-option-plan-used new rent-plan" style="max-width: 270px;">
                                              <option value="-1">Select Rent Plan</option>
                                              {% verbatim %}{{#each New}}{% endverbatim %}

                                                    <option value="{% verbatim %}{{days}}{% endverbatim %}">{% verbatim %}{{name}}{% endverbatim %}</option>

                                              {% verbatim %}{{/each}}{% endverbatim %}
                                            </select>
                                            {% verbatim %}{{/rent_plans}}{% endverbatim %}
                                        </div>
                                        <hr/>
                                          <div class="row">
                                              <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                                                  <div class="small hidden">Initial Payable {% verbatim %}{{currency}}{% endverbatim %} {% verbatim %}{{base_price}}{% endverbatim %}</div>
                                                  <p class="hidden" style="color: green;">Initial Payable = <span class="rent-initial-payable-span"></span> <span class="rent-initial-payable-currency-span"></span></p>
                                                  <p class="hidden" style="color: green;">Rent price calculated = <span class="rent-price-currency-span"></span> <span class="rent-price-span"></span></p>
                                                  <input type="hidden" name="rent-calculated-price-{% verbatim %}{{../id}}{% endverbatim %}" value="" class="rent-calculated-price"/>
                                                  <input type="hidden" name="rent-calculated-price-currency-{% verbatim %}{{../id}}{% endverbatim %}" value="" class="rent-calculated-price-currency"/>
                                                  <input type="hidden" name="rent-initial-payable-{% verbatim %}{{../id}}{% endverbatim %}" value="" class="rent-initial-payable"/>
                                              </div>
                                              <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                                                  <input type="hidden" name="rent-product-is-new" value="" class="rent-product-is-new"/>
                                                  <input type="hidden" name="rent-product-print-type" value="" class="rent-product-print-type"/>
                                                  <select class="rent-qty" style="position: absolute;bottom: 0px;right: 105px;height: 30px;">
                                                      <option value="1">1</option>
                                                      <option value="2">2</option>
                                                      <option value="3">3</option>
                                                      <option value="4">4</option>
                                                      <option value="5">5</option>
                                                      <option value="6">6</option>
                                                      <option value="7">7</option>
                                                      <option value="8">8</option>
                                                      <option value="9">9</option>
                                                      <option value="10">10</option>
                                                  </select>
                                                  <button disabled style="font-weight: bold;" data-action-url="{% url "shopping_add_to_cart_view" %}" data-product-id="{% verbatim %}{{id}}{% endverbatim %}" data-product-type="{% verbatim %}{{product_type}}{% endverbatim %}" class="btn btn-sm btn-danger pull-right add-to-rent-cart">Add To Cart</button>
                                              </div>
                                          </div>
                                      </div>
                                      {% verbatim %}{{else}}{% endverbatim %}
                                      <div id="slider_tab3_{% verbatim %}{{../id}}{% endverbatim %}" class="tab-pane fade active in">
                                        <div style="padding: 20px 10px 10px 0px;">
                                            <p>No new copy is available for rent</p>
                                        </div>
                                      </div>
                                      {% verbatim %}{{/if}}{% endverbatim %}
                                      {% verbatim %}{{#if used_available}}{% endverbatim %}
                                      <div id="slider_tab4_{% verbatim %}{{../id}}{% endverbatim %}" class="tab-pane fade">
                                        <div style="padding: 20px 10px 10px 0px;">
                                          <select class="form-control sr-rent-option rent-option-used used rent" style="max-width: 270px;">
                                              <option value="-1">Select Printing Type</option>
                                              {% verbatim %}{{#each Used}}{% endverbatim %}

                                                    <option value="{% verbatim %}{{short_name}}{% endverbatim %}">{% verbatim %}{{full_name}}{% endverbatim %}</option>

                                              {% verbatim %}{{/each}}{% endverbatim %}
                                            </select>
                                            <br/>
                                            {% verbatim %}{{#rent_plans}}{% endverbatim %}
                                            <select class="form-control sr-rent-plan-option rent-option-plan-used used rent-plan" style="max-width: 270px;">
                                              <option value="-1">Select Rent Plan</option>
                                              {% verbatim %}{{#each Used}}{% endverbatim %}

                                                    <option value="{% verbatim %}{{days}}{% endverbatim %}">{% verbatim %}{{name}}{% endverbatim %}</option>

                                              {% verbatim %}{{/each}}{% endverbatim %}
                                            </select>
                                            {% verbatim %}{{/rent_plans}}{% endverbatim %}
                                          </div>
                                          <hr/>
                                          <div class="row">
                                              <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                                                  <div class="small hidden">Initial Payable {% verbatim %}{{currency}}{% endverbatim %} {% verbatim %}{{base_price}}{% endverbatim %}</div>
                                                  <p class="hidden" style="color: green;">Initial Payable = <span class="rent-initial-payable-span"></span> <span class="rent-initial-payable-currency-span"></span></p>
                                                  <p class="hidden" style="color: green;">Rent price calculated = <span class="rent-price-currency-span"></span> <span class="rent-price-span"></span></p>
                                                  <input type="hidden" name="rent-calculated-price-{% verbatim %}{{../id}}{% endverbatim %}" value="" class="rent-calculated-price"/>
                                                  <input type="hidden" name="rent-calculated-price-currency-{% verbatim %}{{../id}}{% endverbatim %}" value="" class="rent-calculated-price-currency"/>
                                                  <input type="hidden" name="rent-initial-payable-{% verbatim %}{{../id}}{% endverbatim %}" value="" class="rent-initial-payable"/>
                                              </div>
                                              <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                                                  <input type="hidden" name="rent-product-is-new" value="" class="rent-product-is-new"/>
                                                  <input type="hidden" name="rent-product-print-type" value="" class="rent-product-print-type"/>
                                                  <select class="rent-qty" style="position: absolute;bottom: 0px;right: 105px;height: 30px;">
                                                      <option value="1">1</option>
                                                      <option value="2">2</option>
                                                      <option value="3">3</option>
                                                      <option value="4">4</option>
                                                      <option value="5">5</option>
                                                      <option value="6">6</option>
                                                      <option value="7">7</option>
                                                      <option value="8">8</option>
                                                      <option value="9">9</option>
                                                      <option value="10">10</option>
                                                  </select>
                                                  <button disabled style="font-weight: bold;" data-action-url="{% url "shopping_add_to_cart_view" %}" data-product-id="{% verbatim %}{{id}}{% endverbatim %}" data-product-type="{% verbatim %}{{product_type}}{% endverbatim %}" class="btn btn-sm btn-danger pull-right add-to-rent-cart">Add To Cart</button>
                                              </div>
                                          </div>
                                      </div>
                                      {% verbatim %}{{else}}{% endverbatim %}
                                      <div id="slider_tab4_{% verbatim %}{{../id}}{% endverbatim %}" class="tab-pane fade">
                                        <div style="padding: 20px 10px 10px 0px;">
                                          <p>No used copy is available for rent</p>
                                        </div>
                                      </div>
                                      {% verbatim %}{{/if}}{% endverbatim %}
                                  </div>
                              {% verbatim %}{{/rent_options}}{% endverbatim %}

                          </div>
                        </div>
                      </div>
					  {% verbatim %}{{else}}{% endverbatim %}
					  <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#" style="disabled: disabled;" onclick="return false;">
                                <strike>Stock unavailable for rent</strike></a>
                          </h4>
                        </div>
					  </div>
					  {% verbatim %}{{/if}}{% endverbatim %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% verbatim %}{{/each}}{% endverbatim %}
{% verbatim %}{{else}}{% endverbatim %}
<div class="row book_entry search_entry" style="border: 1px solid #f7f7f7; margin-left: 1px;">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
		<p>No results found</p>
	</div>
</div>
{% verbatim %}{{/if}}{% endverbatim %}
</script>