.cart_title {
    font-weight: bold;
    font-size: 15px !important;
}
.cart_content {
    font-weight: normal;
    font-size: 14px;
}

.cart_block {
    padding: 20px;
    border: 1px solid #e3e3e3;
}

.search_action li > a {
    font-size: 13px;
    font-weight: bold;
    border-color: #f9f6f6;
}

.search_action li > a:hover {
    border-color: #f9f6f6;
}

.search_entry {
    margin-bottom: 20px;
}

.light_badge {
    background-color: #e5e5e5;
    color: #8c8c8c;
}

.out_stock_label {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 3px;
}

.loading {
    margin: 20px 0px 20px 20px !important;
    text-transform: uppercase !important;
    letter-spacing: 0.06em;
}

hr {
    padding: 0px !important;
    margin: 5px 5px 10px 0px !important;
}