{% load staticfiles %}
<div class="row">
    <div class="col-md-4">
        {% include "sections/book_browse_entry.html" %}
    </div>
    <div class="col-md-4">
        {% include "sections/book_browse_entry.html" %}
    </div>
    <div class="col-md-4">
        {% include "sections/book_browse_entry.html" %}
    </div>
</div>