{% extends "master.html" %}
{% load staticfiles %}

{% block meta2 %}
<meta name="google-signin-client_id" content="746191340889-5dhuo7prhimmbanu0m3jcbo5slcne70r.apps.googleusercontent.com">
{% endblock meta2 %}

{% block more_stylesheet %}

{% endblock %}
{% block more_js %}
    <script src="{% static "js/login.js" %}"></script>
    <script src="{% static "js/social_login.js" %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <style type="text/css">
        .login_panel {
            max-width: 400px !important;
            padding: 0px 20px 20px 20px !important;
            border: 1px solid #eceaea !important;
            border-radius: 20px !important;
            max-width: 550px !important;
            margin-left: auto;
            margin-right:auto;
            font-family: Roboto,"Helvetica Neue",Arial,sans-serif !important;
            font-size: 16px !important;
            color: #2F4F4F !important;
            line-height: 30px !important;
        }
        #login-submit {
            width: 100% !important;
        }
    </style>
    <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '329854000776287',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>
{% endblock %}
{% block content %}
    <div class=" " id="contact1" style="margin-bottom: 40px;">
        <div class="container">
            <div class="">
                <div style="margin-top: 0px !important;">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3>It's So Easy Now!</h3>
                                    <hr/>
                                    <p>Buying or Renting books was not so easy! Just select which books you want to get in your door and we will make it for you.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                                <div class="login_panel">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <h2>Login</h2>
                                        </div>
                                    </div>
                                    <hr>
                                    <form id="login-form" action="https://phpoll.com/login/process" method="post" role="form" style="display: block;">
                                        <div class="form-group">
                                            <input style="height: 44px;" type="text" name="email_or_phone" id="id_email_or_phone" tabindex="1" class="form-control" placeholder="Email or Phone" value="">
                                        </div>
                                        <div class="form-group">
                                            <input style="height: 44px;" type="password" name="password" id="id_password" tabindex="2" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="form-group text-center">
                                            <div class="g-recaptcha" data-sitekey="{{ captcha_site_key }}"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="btn btn-success btn-lg" value="Log In">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="text-center">
                                                        <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    </div>
                                </div>
							</div>
{#                        <div class="col-md-6">#}
{#                            <div>#}
{#                                <form id="id_signin_form" class="signin_form"#}
{#                                      data-action="{% url "bauth_ajax_login_view" %}"#}
{#                                      data-social_login_url="{% url "bauth_ajax_social_login_view" %}"#}
{#                                      data-facebook_app_id="{{ facebook_app_id }}"#}
{#                                      action="#" method="post">#}
{#                                    {% csrf_token %}#}
{#                                    <div class="row">#}
{#                                        <div class="col-md-12">#}
{#                                            <h1><label class="pull-left">Sign In</label><label class="pull-right"><a style="color: blue; font-size: 14px;" href="#">Sign Up</a></label></h1>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="row">#}
{#                                        <div class="col-md-12">#}
{#                                            {{ login_form.username }}#}
{#                                            <span class="error text-danger signup_field_error displaynone"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="row">#}
{#                                        <div class="col-md-12">#}
{#                                            {{ login_form.password }}#}
{#                                        </div>#}
{#                                    </div>#}
{##}
{#                                    <div class="g-recaptcha" data-sitekey="{{ captcha_site_key }}"></div>#}
{#                                    <br>#}
{##}
{#                                    <p class="alert alert-danger fade in alert-dismissable signin_error displaynone">#}
{#                                    </p>#}
{#                                    <button id="id_signin_button" class="btn btn-success btn-lg" type="submit">Sign In</button>#}
{#                                    <div style="text-align: center;">#}
{#                                        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"#}
{#                                                         size="xlarge">Continue with Facebook</fb:login-button>#}
{#                                    </div>#}
{#                                    <div style="text-align: center;">#}
{#                                        <span style="margin-top: 2px; margin-bottom: 2px;font-weight: bold">Or</span>#}
{#                                    </div>#}
    {#                                <div style="text-align: center;">#}
    {#                                    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"#}
    {#                                                     size="xlarge">Continue with Google</fb:login-button>#}
    {#                                </div>#}
{##}
{#                                    <p style="text-align:center; margin-top: 2px;">#}
{#                                        <a href="{% url 'bauth_forgot_password' %}">Forgot Password?</a>#}
{#                                    </p>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
