{% extends "master.html" %}
{% load staticfiles %}
{% block content %}
    <link href="{% static "css/signup_form.css" %}" rel="stylesheet">
    <script src="{% static "js/sign_up.js" %}"></script>
    <script src="{% static "js/social_signup.js" %}"></script>
    <style type="text/css">
    .signup-panel {
        padding: 20px;
        border: 1px solid #eceaea !important;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    .signup-panel input {
        padding: 20px !important;
    }
    </style>
    <div class=" " id="contact1">
        <div class="container">
            <div class="">
                <div class="contact-form" style="">
                    <div class="row">
                        <div class="col-md-6 right-border">
                            <div class="row">
                                <h3>It's So Easy!</h3>
                                <hr/>
                                <p class="text-gray">
                                    One click signup will help you to access thousands of text books.
                                </p>
                                <p>
                                    Once you are done we will send you a link. Please follow that link to activate your
                                    account.
                                </p>
                                <br/>
                                <h4>Help Line</h4>
                                <hr/>
                                <p class="text-gray">0456 / 71 21 39</p>
                                <br/>
                                <h4>Email Us</h4>
                                <hr/>
                                <a href="#">
                                    <p class="text-gray">support@sstlab.com</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="signup-panel">
                            <form id="id_signup_form" class="signup_form" action="#" method="post"
                                  data-action="{% url "bauth_ajax_signup_view" %}"
                                  data-check-email-url="{% url "bauth_ajax_check_email_view" %}"
                                  data-check-phone-url="{% url "bauth_ajax_check_phone_view" %}"
                                  data-social-signup-url="{% url "bauth_social_signup_view" %}"
                                  data-account-activate-url="{% url "bauth_ajax_account_activate_view" %}"
                                  data-facebook_app_id="{{ facebook_app_id }}"
                                  data-post-signup-url="{% url "bauth_post_signup_view" %}">
                                {% csrf_token %}
                                <h2>Sign Up</h2>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ signup_form.first_name }}
                                        <span class="error text-danger signup_field_error displaynone"></span>
                                    </div>
                                    <div class="col-md-6">
                                        {{ signup_form.last_name }}
                                        <span class="error text-danger signup_field_error displaynone"></span>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-lg-12">
                                        {{ signup_form.email }}
                                        <span class="error text-danger signup_field_error displaynone"></span>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group phone-input">
                                                <span class="input-group-btn">
                                                    <label class="heading">(+880)</label>
                                                </span>
                                            {{ signup_form.phone }}
                                        </div>
                                        <span class="error text-danger signup_field_error displaynone"></span>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ signup_form.password }}
                                        <span class="error text-danger signup_field_error displaynone"></span>
                                    </div>
                                    <div class="col-md-6">
                                        {{ signup_form.password2 }}
                                        <span class="error text-danger signup_field_error displaynone"></span>
                                    </div>
                                </div>
                                <br/>
                                <button id="id_signup_button" class="btn btn-lg btn-danger" style="width: 100%;" type="submit">Sign Up for free</button>
                                <p class="hint" style="font-style: italic; font-size: 13px; color: #1C2331;">By clicking 'Signup for free' I agree to the terms and conditions, privacy policy and usage policy of bdreads.com</p>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
